html, body {
    background: lavender;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 5px;
	height: 95%;
	width: 99%;
    сolor: black
}

.headtable {
    width: 100%;
    background: steelblue;
    color: gold;
}

.headtable a {
    font-size:20px;
    color: gold;
    font-weight:bold;
}
.headtable a:hover {
    font-size:20px;
    color: orange;
    font-weight:bold
}

.headtable li {
    display: inline;
    margin: 10px;
    margin-right: 20px;
}

.lefthead {
    width: 50%;
    height: 100%;
}

.righthead {
    width: 50%;
    height: 100%;
    text-align: right;
}

.bodytable {
    width: 100%;
    min-height: 500px;
}

.leftbody {
    vertical-align: top;
    width: 25%;
    height: 100%;
    background:lightskyblue;
}

.leftbody a {
    font-size:20px;
    color: saddlebrown;
    font-weight:bold;
}
.leftbody a:hover {
    font-size:20px;
    color: orange;
    font-weight:bold
}

.rightbody {
    vertical-align: top;
    padding: 1em;
    width: 75%;
    height: 100%;
    background: lightcyan;
}

.footer {
    width: 99%;
    height: 30px;
    background: lightsteelblue;
    text-align: center;
    padding: 10px;
}

.request_title {
    width: 95%;
    padding: 0.5em;
    background: cadetblue;
    margin-bottom: 0px;
    color: gold;
    font-width: bold;
}

.request_title a {
    font-size:20px;
    color: gold;
}

.request_title a: hover {
    font-size:20px;
    color: gold;
}

.request_text {
    margin-top: 0px;
    width: 95%;
    padding: 0.5em;
    background: PaleTurquoise;
}

.left-title {
    text-align: left;
}
.right-title {
    text-align: right;
}
.paginator {
    font-size: 30px;
    text-align: center;
}

.paginator a {
    font-size: 20px;
}

