{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" href="{% static 'helps_app/css/styles.css' %}" rel="stylesheet">
</head>
<body>
    {% block mainmenu %}
        <div class="headmenu">
        <ul>
            <li><a href="{% url 'helps_app:index' %}">Главная страница</a></li>
            <li><a>О сайте</a></li>
            {% if request.user.is_authenticated %}
                <li>Привет, {{ user.username }}   |   <a href="{% url 'helps_app:logout' %}">Выйти</a></li>
            {% else %}
            <li><a href="{% url 'helps_app:registration' %}">Регистрация</a></li>
            <li><a href="{% url 'helps_app:login' %}">Вход</a></li>
            {% endif %}
        </ul>
        </div>
    {% endblock %}
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
{% block footer %}
    <div class="footer"><p style="margin-top: 8px">Все права защищены</p></div>
{% endblock %}
</body>
</html>

