{% extends 'helps_app/base.html' %}

{% block title %}Выбор города{% endblock %}

{% block leftbody %}
    <h2 style="text-align: center">Выберите город:</h2>
    <ul>
        {% for city in cities %}
        <li><a href="{{ city.get_absolute_url }}">{{ city }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
{% block rightbody %}
    {% if 'Автономная Республика Крым' in region.region_name %}
        <h2>{{ region }}  - список заявок по региону</h2>
    {% else %}
        <h2>{{ region }} область - список заявок по региону</h2>
    {% endif %}
    <ul>
    <li><p>Чтобы сузить список заявок выберите населенный пункт из списка слева</p></li>
    {% if request.user.is_authenticated %}
    <li><p>Чтобы оформить просьбу на получение помощи выберите населенный пункт из списка слева. <br>
        Если вашего населенного пункта нет в списке - выберите ближайший,<br>
        а затем в контактах укажите ваш населенный пункт.
    </p></li>
    {% endif %}
    </ul>
    <br>
        {% if page_obj %}
            {% for reqst in page_obj %}
<p class="request_title">{{ reqst }} - <a href="{{ reqst.get_absolute_url }}">Подробнее</a><span style="float: right">{{ reqst.update|date:"d.m.y" }}</span></p>
                <p class="request_text">{{ reqst.text|truncatewords:50 }}</p>
                <br>
            {% endfor %}
        {% else %}
            <p>Заявок пока нет</p>
        {% endif %}
        <div class="paginator">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&lt;&lt;Первая---</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Пред({{ page_obj.previous_page_number }})</a>
                {% endif %}
                <span class="current">
                     {{ page_obj.number }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">След({{ page_obj.next_page_number }})</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">---Последняя&gt;&gt;</a>
                {% endif %}
            </span>
        </div>
{% endblock %}