{% extends 'helps_app/base.html' %}

{% block title %}Список заявок{% endblock %}

{% block leftbody %}
    <br>
    <p><a href="{% url 'helps_app:need_help' city_id %}">Подать заявку</a></p>
{% endblock %}
{% block rightbody %}
     {% if help_title %}
        <h2>Список заявок - {{ city_name }}</h2>
      {% for title in help_title %}
        <p class="request_title"><a href="{{ title.get_absolute_url }}">{{ title }}</a>-----{{ title.update|date:"d.m.y" }}</p>
        <p class="request_text">{{ title.text|truncatewords:50 }}</p>
        <br>
      {% endfor %}
    {% else %}
      <p>Пока нет заявок</p>
    {% endif %}
{% endblock %}