{% extends 'helps_app/base.html' %}

{% block title %}
    Список заявок на получение помощи
{% endblock %}
{% block header %}
    <p>Список заявок  по городу</p>
    <div></div><br>
    <p><a href="{% url 'helps_app:need_help' city_id %}">Подать заявку</a></p>
    {% if help_title %}
      {% for title in help_title %}
        <p><a href="{% url 'helps_app:help_request_detail' title.id %}"> {{ title.title }}</a></p>
      {% endfor %}
    {% else %}
      <p>Нет заявок</p>
    {% endif %}
{% endblock %}