{% extends 'helps_app/base.html' %}
{% block title %}Get Help - Главная{% endblock %}



{% block leftbody %}
{% load cache %}
{% cache 3600 region_es %}
  <h2 style="text-align: center">Выберите область:</h2>
  <ul>
  {% for region in regions %}
      <li><a href="{{ region.get_absolute_url }}">{{ region.region_name }}</a></li>
  {% endfor %}
  </ul>
{% endcache %}
{% endblock %}
{% block rightbody %}
  <h2>Добро пожаловать</h2>
  <ul>
  <li><p>Сайт создан для того, чтобы обеспечить взаимодействие людей которым необходима помощь с теми, кто имеет желание и возможность эту помощь оказать.</p></li>
  {% if request.user.is_authenticated %}
    <li><p>Если вы желаете кому-то помочь, то начните с выбора региона из списка слева.Вам станет доступен список заявок по этому региону.</p></li>
    <li><p>Чтобы попросить о помощи выберите для начала регион из списка слева.</p></li>
  {% else %}
    <li><p>Если вы желаете кому-то помочь, то начните с выбора региона из списка слева. Для этого даже не требуется регистраци.</p></li>
    <li><p>Чтобы иметь возможность подавать заявки сначала нужно пройти процедуру <a href="{% url 'helps_app:registration' %}">регистрации</a></p></li>
  </ul>
  {% endif %}
{% endblock %}

