{% extends 'helps_app/base.html' %}
{% block title %}
  Подать заявку
{% endblock %}

{% block rightbody %}
  <div class="sidepanel">
    <h2>Оформление просьбы о помощи</h2>
    <p>Рекомендации</p>
    <ul>
      <li>В графе "Тип помощи" кратко (два-три слова) опишите, какая помощь вам нужна.</li>
      <li>В графе "Детальная информация" опишите все максимально подробно. Также здесь можно указать конкретный адрес.</li>
      <li>В графе "Контакты" укажите способ связи с вами</li>
    </ul>
  </div>
  <div class="content">
   <p>Введите информацию о вашей заявке</p>
  <form action="{% url 'helps_app:need_help' city_id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit">Подать заявку</button>
   </div>

  </form>
{% endblock %}